html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

/* Create your styles below */
#Reset{
	margin: 0 auto;
	width: 80px;
	height: 30px;
}


#Music{
	margin: 0 auto;
	width: 80px;
	height: 30px;
}